.button{
    -fx-background-color: #94acd3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    }

.button:hover{
    -fx-background-color: blue;
    }

.button:pressed{
    -fx-background-color: orange;
    -fx-text-fill: #686664;
    }

.menu-bar{
    -fx-background-color: #c0e0df;
    }

.menu{
    -fx-font-weight: normal;
    }

.menu:hover{
    -fx-background-color: #344f39;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    }
